# Introduction to Data Science

## Introduction to different functions  of Pandas.

## Data used : Complete details of All the IPL season till 2017.
The data was taken from https://www.kaggle.com/somashekharareddy/ipl-2017

Author : Darshan D V

In [1]:
import numpy as np
import pandas as pd

Let's start by loading the data. We'll be using ***DIM_PLAYER_MATCH.csv*** to get to know different functions of pandas.
To start with we have *pandas.read_csv* which loads the data as a DataFrame (If you don't know what is Dataframe please refer to the previous tutorial on Introduction to Data Structures that pandas operates in.)

Pandas has many read_* functions to read data from multiples data sources or formats like json, jdbc, excel, pickel (python serialized objects) etc.

In [2]:
player = pd.read_csv("Data/DIM_PLAYER.csv",delimiter=',',encoding = "ISO-8859-1")
player_match = pd.read_csv("Data/DIM_PLAYER_MATCH.csv",delimiter=',',
                           encoding = "ISO-8859-1",skiprows=[1])
team = pd.read_csv("Data/DIM_TEAM.csv",delimiter=',',encoding = "ISO-8859-1")

In [3]:
player_match.head()

,Player_match_SK,PlayerMatch_key,Match_Id,Player_Id,Player_Name,DOB,Batting_hand,Bowling_skill,Country_Name,Role_Desc,...,Season_year,is_manofThematch,Age_As_on_match,IsPlayers_Team_won,Batting_Status,Bowling_Status,Player_Captain,Opposit_captain,Player_keeper,Opposit_keeper
0,12694,33598700006,335987,6,R Dravid,1973-01-11,Right-hand bat,Right-arm offbreak,India,Captain,...,2008,0,35,0,NaN,NaN,R Dravid,SC Ganguly,MV Boucher,WP Saha
1,12695,33598700007,335987,7,W Jaffer,1978-02-16,Right-hand bat,Right-arm offbreak,India,Player,...,2008,0,30,0,NaN,NaN,R Dravid,SC Ganguly,MV Boucher,WP Saha
2,12696,33598700008,335987,8,V Kohli,1988-11-05,Right-hand bat,Right-arm medium,India,Player,...,2008,0,20,0,NaN,NaN,R Dravid,SC Ganguly,MV Boucher,WP Saha
3,12697,33598700009,335987,9,JH Kallis,1975-10-16,Right-hand bat,Right-arm fast-medium,South Africa,Player,...,2008,0,33,0,NaN,NaN,R Dravid,SC Ganguly,MV Boucher,WP Saha
4,12698,33598700010,335987,10,CL White,1983-08-18,Right-hand bat,Legbreak googly,Australia,Player,...,2008,0,25,0,NaN,NaN,R Dravid,SC Ganguly,MV Boucher,WP Saha

In [4]:
player.head()

,PLAYER_SK,Player_Id,Player_Name,DOB,Batting_hand,Bowling_skill,Country_Name
0,0,1,SC Ganguly,1972-07-08,Left-hand bat,Right-arm medium,India
1,1,2,BB McCullum,1981-09-27,Right-hand bat,Right-arm medium,New Zealand
2,2,3,RT Ponting,1974-12-19,Right-hand bat,Right-arm medium,Australia
3,3,4,DJ Hussey,1977-07-15,Right-hand bat,Right-arm offbreak,Australia
4,4,5,Mohammad Hafeez,1980-10-17,Right-hand bat,Right-arm offbreak,Pakistan

In [5]:
team.head()

   Team_SK  Team_Id                    Team_Name
0        0        1        Kolkata Knight Riders
1        1        2  Royal Challengers Bangalore
2        2        3          Chennai Super Kings
3        3        4              Kings XI Punjab
4        4        5             Rajasthan Royals

In [6]:
# print(player_match.dtypes,'\n')
print(player_match.columns,'\n')
print(player.columns,'\n')
print(team.columns,'\n')

Index(['Player_match_SK', 'PlayerMatch_key', 'Match_Id', 'Player_Id',
       'Player_Name', 'DOB', 'Batting_hand', 'Bowling_skill', 'Country_Name',
       'Role_Desc', 'Player_team', 'Opposit_Team', 'Season_year',
       'is_manofThematch', 'Age_As_on_match', 'IsPlayers_Team_won',
       'Batting_Status', 'Bowling_Status', 'Player_Captain', 'Opposit_captain',
       'Player_keeper', 'Opposit_keeper'],
      dtype='object')

Index(['PLAYER_SK', 'Player_Id', 'Player_Name', 'DOB', 'Batting_hand',
       'Bowling_skill', 'Country_Name'],
      dtype='object')

Index(['Team_SK', 'Team_Id', 'Team_Name'], dtype='object')

### More on info() command.

**info()** command gives us information on the total entries, the columns present and their types, the number of non-null values in each columns and also on the memory usage.

In [7]:
player_match.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13992 entries, 0 to 13991
Data columns (total 22 columns):
Player_match_SK       13992 non-null int64
PlayerMatch_key       13992 non-null int64
Match_Id              13992 non-null int64
Player_Id             13992 non-null int64
Player_Name           13992 non-null object
DOB                   13992 non-null object
Batting_hand          13992 non-null object
Bowling_skill         12862 non-null object
Country_Name          13992 non-null object
Role_Desc             13992 non-null object
Player_team           13992 non-null object
Opposit_Team          13992 non-null object
Season_year           13992 non-null int64
is_manofThematch      13992 non-null int64
Age_As_on_match       13992 non-null int64
IsPlayers_Team_won    13992 non-null int64
Batting_Status        0 non-null float64
Bowling_Status        0 non-null float64
Player_Captain        13992 non-null object
Opposit_captain       13992 non-null object
Player_keeper         13992 non-null object
Opposit_keeper        13992 non-null object
dtypes: float64(2), int64(8), object(12)
memory usage: 2.3+ MB

### Selecting specific rows and columns

Selecting specific rows and columns can be done using ***.loc()*** and ***.iloc()*** also. But this task can also be done just specifying name of the columns and most of the times it is useful to get specific items.

In [8]:
player_match[['Player_Name','DOB']][0:5]

  Player_Name         DOB
0    R Dravid  1973-01-11
1    W Jaffer  1978-02-16
2     V Kohli  1988-11-05
3   JH Kallis  1975-10-16
4    CL White  1983-08-18

We will use ***value_counts()*** and see the results. 
Note that even a small change in the name reflects as a different entry. You can get to know how to define that index using index function

In [9]:
player_match['Batting_hand'].value_counts()

Right-hand bat     10026
Left-hand bat       3899
 Right-hand bat       43
 Left-hand bat        18
Right-handed           6
Name: Batting_hand, dtype: int64

In [10]:
player_match['Batting_hand'].value_counts().index[2]

'\xa0Right-hand bat'

But how to use the third one as a name of a column?

In [11]:
player_match['Batting_hand'].value_counts()

Right-hand bat     10026
Left-hand bat       3899
 Right-hand bat       43
 Left-hand bat        18
Right-handed           6
Name: Batting_hand, dtype: int64

Since the value_counts() returns a Series, specific attributes can be accessed through names.

In [12]:
if len(player_match['Batting_hand'].value_counts())==5 :
    print(player_match['Batting_hand'].value_counts()['Right-hand bat'])
    print(player_match['Batting_hand'].value_counts()['\xa0Right-hand bat'])

10026
43

We have to fix this error and bring everything to either right-handed bat or left-handed bat. We'll do that now.

#### Changing values of a column

You can use map() to change the values of a column.

In [13]:
if len(player_match['Batting_hand'].value_counts())==5 :# So that if you run it multiple times it doesn't change the value
    player_match['Batting_hand'] = player_match['Batting_hand'].\
    map({'Right-hand bat':'Right-handed','\xa0Right-hand bat':'Right-handed',
          'Left-hand bat' : 'Left-handed',
          '\xa0Left-hand bat' : 'Left-handed'})

print(player_match['Batting_hand'].value_counts())

Right-handed    10069
Left-handed      3917
Name: Batting_hand, dtype: int64

You can also normalize the results using ***value_counts()*** by changing the argument normalize = True.

So let's see what percentage of batsmen are right and left handed.

In [14]:
print(player_match['Batting_hand'].value_counts())

Right-handed    10069
Left-handed      3917
Name: Batting_hand, dtype: int64

In [15]:
print(player['Batting_hand'].value_counts(normalize=True)*100)
player['Batting_hand'] = player['Batting_hand'].\
map({'Right-hand bat':'Right-handed', '\xa0Right-hand bat':'Right-handed',
       'Left-hand bat' : 'Left-handed',
       '\xa0Left-hand bat' : 'Left-handed'})
print(player['Batting_hand'].value_counts())

Right-hand bat     71.830986
Left-hand bat      25.955734
 Right-hand bat     1.408451
 Left-hand bat      0.603622
Right-handed        0.201207
Name: Batting_hand, dtype: float64
Right-handed    364
Left-handed     132
Name: Batting_hand, dtype: int64

In [16]:
player['Batting_hand'].value_counts(normalize=True)

Right-handed    0.733871
Left-handed     0.266129
Name: Batting_hand, dtype: float64

### Cross Tabulation

Sometimes while analysing the data we may need only specific set of the entire dataset. It's when ***crosstab()*** comes in handy.
So let's see if we could get some interesting facts.

In [17]:
# The total number of matches in which the players who were the team captains have won man of the match 
# and number of times they didn't,
pd.crosstab([player_match.Player_Captain],[player_match.is_manofThematch]).head()

is_manofThematch    0   1
Player_Captain
A Kumble          271  15
AC Gilchrist      781  33
AD Mathews         54   1
AJ Finch          108   2
AM Rahane          11   0

In [18]:
print('The maximum number of matches in which the players who were' 
      ' the team captains have won man of the match :'
      ,max(pd.crosstab(player_match.Player_Captain,
                       player_match.is_manofThematch)[1]))
pd.crosstab(player_match.Player_Captain,
            player_match.is_manofThematch).loc['A Kumble']

The maximum number of matches in which the players who were the team captains have won man of the match : 85

is_manofThematch
0    271
1     15
Name: A Kumble, dtype: int64

###  Normalize in cross tab.

You can normalize the values in a cross tab just by passing the argument **normalize**. The value of this argument can be ***index***, ***columns***, ***all***, based on how you want.
We will take the first 3 rows of the previous crosstab and look at each of them.

In [19]:
pd.crosstab(player_match.Player_Captain,player_match.is_manofThematch,
            normalize="index")[:3]*100

is_manofThematch          0         1
Player_Captain
A Kumble          94.755245  5.244755
AC Gilchrist      95.945946  4.054054
AD Mathews        98.181818  1.818182

In [20]:
pd.crosstab(player_match.Player_Captain,player_match.is_manofThematch,
            normalize="columns")[:3]*100

is_manofThematch         0         1
Player_Captain
A Kumble          2.028291  2.377179
AC Gilchrist      5.845371  5.229794
AD Mathews        0.404161  0.158479

In [21]:
pd.crosstab(player_match.Player_Captain,player_match.is_manofThematch,
            normalize="all")[:3]*100

is_manofThematch         0         1
Player_Captain
A Kumble          1.936821  0.107204
AC Gilchrist      5.581761  0.235849
AD Mathews        0.385935  0.007147

### Filtering records based on a condition

This is one of the important functions that gives you a specific dataframe based on your query. You pass a condition and you get a dataframe returned which satisfies that condition.

In [22]:
after15 = player_match[player_match.Season_year>2015][['Player_Id',
                                                       'Player_Name']]
print(len(after15))
after15.head()

2618

       Player_Id      Player_Name
11374         50  Harbhajan Singh
11375         57        RG Sharma
11376         81    R Vinay Kumar
11377        208        AT Rayudu
11378        221       KA Pollard

In [23]:
# Use of unique function.
a = player_match[player_match.Season_year>2015]['Player_Id'].unique()
b = player_match[player_match.Season_year>2015]['Player_Name'].unique()

In [24]:
len(a),len(b)

(202, 202)

In [25]:
b

array(['Harbhajan Singh', 'RG Sharma', 'R Vinay Kumar', 'AT Rayudu',
       'KA Pollard', 'JJ Bumrah', 'LMP Simmons', 'S Gopal', 'HH Pandya',
       'MJ McClenaghan', 'JC Buttler', 'MS Dhoni', 'RP Singh', 'I Sharma',
       'AM Rahane', 'R Bhatia', 'KP Pietersen', 'R Ashwin', 'MR Marsh',
       'F du Plessis', 'SPD Smith', 'M Ashwin', 'Z Khan', 'A Mishra',
       'MA Agarwal', 'P Negi', 'KK Nair', 'CH Morris', 'SV Samson',
       'Q de Kock', 'NM Coulter-Nile', 'SS Iyer', 'CR Brathwaite',
       'YK Pathan', 'G Gambhir', 'RV Uthappa', 'PP Chawla', 'MK Pandey',
       'UT Yadav', 'SA Yadav', 'GB Hogg', 'AD Russell', 'C Munro',
       'JW Hastings', 'BB McCullum', 'P Kumar', 'SK Raina', 'RA Jadeja',
       'DJ Bravo', 'KD Karthik', 'PJ Sangwan', 'S Ladda', 'AJ Finch',
       'JP Faulkner', 'Ishan Kishan', 'WP Saha', 'M Vijay', 'GJ Maxwell',
       'DA Miller', 'M Vohra', 'MG Johnson', 'MM Sharma', 'Sandeep Sharma',
       'AR Patel', 'MP Stoinis', 'P Sahu', 'V Kohli', 'SR Watson',
       'AB de Villiers', 'CH Gayle', 'KM Jadhav', 'STR Binny', 'HV Patel',
       'Parvez Rasool', 'YS Chahal', 'SN Khan', 'AF Milne', 'S Dhawan',
       'A Nehra', 'MC Henriques', 'KV Sharma', 'NV Ojha', 'DA Warner',
       'EJG Morgan', 'B Kumar', 'A Ashish Reddy', 'DJ Hooda',
       'Mustafizur Rahman', 'PA Patel', 'TG Southee', 'J Suchith',
       'Kuldeep Yadav', 'SB Jakati', 'PV Tambe', 'AD Nath', 'JP Duminy',
       'J Yadav', 'SE Marsh', 'BB Sran', 'M Morkel', 'Shakib Al Hasan',
       'SP Narine', 'DS Kulkarni', 'KH Pandya', 'IK Pathan', 'NLTC Perera',
       'Ankit Sharma', 'KJ Abbott', 'S Aravind', 'D Wiese',
       'Mohammed Shami', 'Bipul Sharma', 'MJ Guptill', 'Iqbal Abdulla',
       'VR Aaron', 'KL Rahul', 'KW Richardson', 'TM Head', 'DW Steyn',
       'AP Tare', 'Mandeep Singh', 'T Shamsi', 'Imran Tahir', 'R Dhawan',
       'NS Naik', 'DR Smith', 'SS Tiwary', 'JA Morkel', 'R Sathish',
       'AB Dinda', 'S Nadeem', 'RR Pant', 'CA Lynn', 'JD Unadkat',
       'S Kaushik', 'PSP Handscomb', 'SW Billings', 'JO Holder',
       'Sachin Baby', 'KS Williamson', 'Gurkeerat Singh', 'KC Cariappa',
       'SM Boland', 'Swapnil Singh', 'GJ Bailey', 'UT Khawaja',
       'Yuvraj Singh', 'CJ Jordan', 'A Zampa', 'HM Amla', 'Anureet Singh',
       'F Behardien', 'N Rana', 'UBT Chand', 'AS Rajpoot', 'BCJ Cutting',
       'DL Chahar', 'ER Dwivedi', 'TA Boult', 'A Choudhary', 'Rashid Khan',
       'TS Mills', 'MK Tiwary', 'BA Stokes', 'MS Gony', 'CR Woakes',
       'JJ Roy', 'DT Christian', 'RD Chahar', 'T Natarajan', 'PJ Cummins',
       'B Stanlake', 'Vishnu Vinod', 'Basil Thampi', 'Tejas Baroka',
       'SL Malinga', 'CJ Anderson', 'RA Tripathi', 'V Shankar',
       'C de Grandhomme', 'S Badree', 'SN Thakur', 'AJ Tye', 'LH Ferguson',
       'MM Patel', 'AD Mathews', 'S Kaul', 'Mohammad Nabi',
       'Mohammed Siraj', 'K Rabada', 'Washington Sundar', 'NB Singh',
       'SS Agarwal', 'DM Bravo', 'Ankit Soni', 'AR Bawne', 'SP Jackson',
       'MN Samuels', 'R Tewatia', 'MJ Henry', 'Avesh Khan', 'IR Jaggi'], dtype=object)

### Filtering records based on string comparison

You can also get dataframes based on string comparisons. This helps when you want to query data based on the string that exists in a column.

In [26]:
player_match[player_match.Player_Name.str.contains('Jadeja')].head()

,Player_match_SK,PlayerMatch_key,Match_Id,Player_Id,Player_Name,DOB,Batting_hand,Bowling_skill,Country_Name,Role_Desc,...,Season_year,is_manofThematch,Age_As_on_match,IsPlayers_Team_won,Batting_Status,Bowling_Status,Player_Captain,Opposit_captain,Player_keeper,Opposit_keeper
60,12754,33598900035,335989,35,RA Jadeja,1988-12-06,Left-handed,Slow left-arm orthodox,India,Player,...,2008,0,20,0,NaN,NaN,SK Warne,V Sehwag,M Rawat,KD Karthik
114,12808,33599200035,335992,35,RA Jadeja,1988-12-06,Left-handed,Slow left-arm orthodox,India,Player,...,2008,0,20,1,NaN,NaN,SK Warne,Yuvraj Singh,Kamran Akmal,KC Sangakkara
190,12884,33599500035,335995,35,RA Jadeja,1988-12-06,Left-handed,Slow left-arm orthodox,India,Player,...,2008,0,20,1,NaN,NaN,SK Warne,VVS Laxman,Kamran Akmal,AC Gilchrist
223,12917,33599700035,335997,35,RA Jadeja,1988-12-06,Left-handed,Slow left-arm orthodox,India,Player,...,2008,0,20,1,NaN,NaN,SK Warne,R Dravid,M Rawat,MV Boucher
399,13093,33600500035,336005,35,RA Jadeja,1988-12-06,Left-handed,Slow left-arm orthodox,India,Player,...,2008,0,20,1,NaN,NaN,SK Warne,SC Ganguly,M Rawat,WP Saha

### Rename a column

You can rename any column using ***rename()*** function. If you use *inplace=True* then the original data is also changed.

In [27]:
new_data = player_match.rename(columns={'Player_Id':'Id'})
new_data.head(1)

,Player_match_SK,PlayerMatch_key,Match_Id,Id,Player_Name,DOB,Batting_hand,Bowling_skill,Country_Name,Role_Desc,...,Season_year,is_manofThematch,Age_As_on_match,IsPlayers_Team_won,Batting_Status,Bowling_Status,Player_Captain,Opposit_captain,Player_keeper,Opposit_keeper
0,12694,33598700006,335987,6,R Dravid,1973-01-11,Right-handed,Right-arm offbreak,India,Captain,...,2008,0,35,0,NaN,NaN,R Dravid,SC Ganguly,MV Boucher,WP Saha

In [28]:
player_match.head(1)

,Player_match_SK,PlayerMatch_key,Match_Id,Player_Id,Player_Name,DOB,Batting_hand,Bowling_skill,Country_Name,Role_Desc,...,Season_year,is_manofThematch,Age_As_on_match,IsPlayers_Team_won,Batting_Status,Bowling_Status,Player_Captain,Opposit_captain,Player_keeper,Opposit_keeper
0,12694,33598700006,335987,6,R Dravid,1973-01-11,Right-handed,Right-arm offbreak,India,Captain,...,2008,0,35,0,NaN,NaN,R Dravid,SC Ganguly,MV Boucher,WP Saha

In [29]:
player_match.rename(columns={'Player_Id':'Id'},inplace = True)
player_match.head(1)

,Player_match_SK,PlayerMatch_key,Match_Id,Id,Player_Name,DOB,Batting_hand,Bowling_skill,Country_Name,Role_Desc,...,Season_year,is_manofThematch,Age_As_on_match,IsPlayers_Team_won,Batting_Status,Bowling_Status,Player_Captain,Opposit_captain,Player_keeper,Opposit_keeper
0,12694,33598700006,335987,6,R Dravid,1973-01-11,Right-handed,Right-arm offbreak,India,Captain,...,2008,0,35,0,NaN,NaN,R Dravid,SC Ganguly,MV Boucher,WP Saha

### Selecting rows and columns and applying a filtering criteria
#### Applying multiple filtering criteria
You can always query the data based on multiple filtering criteria. This is used very frequently while analysing because one function gives us all the features we need.

Let's get the data in which an Indian is man of the Match.

In [30]:
new_data = player_match[(player_match.Country_Name=='India')&
                        (player_match.is_manofThematch==1) ]
print("The number of matches in which an Indian is man of the Match:",
      len(new_data))
print("In percentege :" , (len(new_data)/len(player_match[
                (player_match.is_manofThematch==1) ]))*100)

The number of matches in which an Indian is man of the Match: 326
In percentege : 51.66402535657686

In [31]:
a = player_match[(player_match.IsPlayers_Team_won==1) & 
                 (player_match.Player_Name.str.contains('Dhoni'))]['Match_Id']

In [32]:
print('The number of matches in which the team containing Dhoni has won :', len(a))

The number of matches in which the team containing Dhoni has won : 93

In [33]:
player_match['Role_Desc'].unique()

array(['Captain', 'Player', 'Keeper', 'CaptainKeeper'], dtype=object)

In [34]:
player_match.columns

Index(['Player_match_SK', 'PlayerMatch_key', 'Match_Id', 'Id', 'Player_Name',
       'DOB', 'Batting_hand', 'Bowling_skill', 'Country_Name', 'Role_Desc',
       'Player_team', 'Opposit_Team', 'Season_year', 'is_manofThematch',
       'Age_As_on_match', 'IsPlayers_Team_won', 'Batting_Status',
       'Bowling_Status', 'Player_Captain', 'Opposit_captain', 'Player_keeper',
       'Opposit_keeper'],
      dtype='object')